:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2B2B2B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media only screen and (max-width: 600px) {
  .even-section, .custom-list {
    padding: 0!important;
    margin: 0!important;
  }
  .list-header{
    display: none;
  }
  .list-header-mobile{
    display: inline!important;
  }
} */

@media only screen and (max-width: 600px) {

  .even-section,  .custom-list,  .equipmentBoard,  .charCreate {
    padding: 0 !important;
    margin: 0 !important;
  }

  .list-header {
    display: none;
  }

  .list-header-mobile {
    display: inline !important;
  }

  .char-list-item,  .char-list-item-null,  .camp-list-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }

  .mobile-margin {
    margin: 10px;
  }

  .mobile-reset {
    text-align: center;
  }
}

.list-header-mobile {
  display: none;
}


@media only screen and (min-width: 900px){
   .desktop-margin {
  margin-left: 50px;
}
}


.navbar-custom .navbar-nav .nav-link {
  color: white;

}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #0ecee3;
  /* Change to the desired hover color */
}

.navbar-custom .navbar-nav .nav-link.active {
  color: #0efafa;
  /* Active color */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(14, 250, 250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(14, 250, 250);
}

.footer-custom {
  background-color: #1d1d1d;
  border-top: 1px solid #0efafa;
}

.separator {
  border-color: #0efafa;
  opacity: 1;
}

header {
  background-color: #1d1d1d;
  color: white;
  border-bottom: 2px solid #0efafa;
}

.title {
  padding: 70px;
}



.titleText {
  color: #0efafa;
}

.even-section {
  background-color: #2B2B2B;
  color: white;
  padding: 50px;
  border-bottom: 2px solid #0efafa;
}

.grid-item {
  color: white;
  text-decoration: none;
}

.grid-item:hover {
  color: #0efafa;
}

.icon-link {
  color: white;
}

.icon-link:hover {
  color: #0efafa;
}

.noBackground .img-thumbnail {
  background-color: transparent;
}

.circle-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle-icon svg {
  color: black;
}

.circle-icon:hover {
  background-color: #0ecee3;
}

.breadcrumb .breadcrumb-item a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  /* Remove default background color */
  border: none;
  /* Remove default border */
}

.breadcrumb .breadcrumb-item.active a {
  color: #838383;
  /* Change color of active link */
}

.breadcrumb .breadcrumb-item:not(.active) a:hover {
  color: #0efafa;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  color: #0efafa;
}

.breadcrumb .breadcrumb-item+.breadcrumb-item.active::before {
  content: ">";
  color: #0efafa;
}

.custom-list {
  list-style-type: none;
}

.spellBoard,
.filterBoard,
.classBoard {
  background-color: #1d1d1d;
  border-top: 2px solid #0efafa;
}

.equipmentBoard,
.classBoard {
  background-color: #0f0f0f;
  border-top: 2px solid #0efafa;
}

.background-image-with-opacity {
  position: relative;
  z-index: 1;
  /* Ensure it is above the background */
}


.background-image-with-opacity::before {
  content: "";
  background-image: var(--background-image-url);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  /* Adjust this value for desired opacity */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
    background-repeat: no-repeat;
    
  /* Ensure it is behind the content */
}

.background-camp-image-with-opacity {
  position: relative;
  z-index: 1;
  /* Ensure it is above the background */
  overflow: hidden;
  /* Prevent content overflow from affecting the div size */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  
  /* Ensure the div takes at least the full height of the viewport */
}

.background-camp-image-with-opacity::before {
  content: "";
  position: absolute;
  inset: 0; /* cobre 100% do container */
  z-index: -1;

  /* imagem */
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  /* overlay */
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.background-camp-image {
  position: relative;
  z-index: 1;
  /* Ensure it is above the background */
  overflow: hidden;
  /* Prevent content overflow from affecting the div size */
  min-height: 80vh;
  /* Ensure the div takes at least the full height of the viewport */
}

.background-camp-image::before {
  height: 100%;
  width: 100%;
  content: "";
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Ensure it is behind the content */
}


.background-camp-image-404 {
  position: relative;
  z-index: 1;
  /* Ensure it is above the background */
  overflow: hidden;
  /* Prevent content overflow from affecting the div size */
  min-height: 100vh;
  /* Ensure the div takes at least the full height of the viewport */
}

.background-camp-image-404::before {
  height: 100%;
  width: 100%;
  content: "";
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  /* Ensure it is behind the content */
}


.pagination-custom {
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.pagination-custom .page-item .page-link {
  color: #0efafa;
  border: 2px solid #0efafa;
  margin: 0 0px;
  background-color: transparent;
  font-weight: 600;
}

.pagination-custom .page-item.active .page-link {
  color: white;
  background-color: #0efafa;
  border-color: #0efafa;
  color: black;
  font-weight: 600;
}

.pagination-custom .page-item .page-link:hover {
  background-color: #1d1d1d;
  border-color: white;
  color: #0efafa;
  font-weight: 600;
}

.pagination-custom .page-item.disabled .page-link {
  color: #838383;
  border-color: #838383;
  font-weight: 600;
  background-color: transparent;
}

.pagination-custom .page-item .page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(14, 250, 250, 0.5);
  border-radius: 5px;
  /* outline: 2px solid #0efafa;
  outline-offset: 2px; */
}

.custom-link {
  text-decoration: none;
  color: white;
}

.custom-link:hover {
  text-decoration: none;
  color: #0efafa;
}

.dropdown .btn.custom-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0efafa;
  border-color: #0efafa;
  color: black;
  width: 100%;
}

.dropdown .btn.custom-dropdown-toggle:hover {
  background-color: #0ecee3;
  border-color: #0ecee3;
}

.dropdown .btn.custom-dropdown-toggle:focus {
  background-color: #0ecee3;
  border-color: #0ecee3;
}

.dropdown .btn.custom-dropdown-toggle::after {
  content: '';
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown.show .btn.custom-dropdown-toggle::after {
  border-top: 0;
  border-bottom: .3em solid;
}

.dropdown .dropdown-menu {
  width: 100%;
}

.dropdown .dropdown-menu .dropdown-item {
  white-space: nowrap;
}

.dropdown .btn.custom-dropdown-toggle+.dropdown-menu {
  width: 100%;
}

.navbar-dropdown .dropdown-toggle::after {
  display: none;
}



/* input[type=text] {
  border: 3px solid transparent;
  overflow-x: auto; 
}

input[type=text]:focus {
  border: 2px solid #0ecee3;
} */

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #0ecee3;
}

/* Ensure your custom styles have higher specificity */
.custom-button.btn {
  background-color: transparent;
  color: #0efafa;
  border: 1px solid #0efafa;
  cursor: pointer;
  /* Add a pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s;
}

.custom-button.btn:hover,
.custom-button.btn:focus {
  background-color: #0ecee3;
  color: white;
  border-color: #0ecee3;
  /* Ensure the border color also changes */
  outline: none;
  /* Remove the default focus outline */
}

.custom-button.btn:active {
  background-color: #0ecee3;
  /* Darker green when active */
  color: white;
  border-color: #0ecee3;
  /* Ensure the border color also changes */
  outline: none;
  /* Remove the default focus outline */
  box-shadow: 0 0 0 0.25rem rgba(14, 250, 250, 0.5);
  border-radius: 5px;
}

.class-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-toggle-container {
  display: inline-block;
  transition: border 0.3s ease;
}

.image-toggle-container.selected {
  color: #0efafa;
}

.score-displayer {
  text-align: center;
  margin: 20px;
}

.score-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.score-value {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin: 0 auto;
}

.score-value input.score-input {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

.score-value input.score-input::placeholder {
  color: lightgray;
}

.score-value input.score-input::-webkit-outer-spin-button,
.score-value input.score-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.score-value input.score-input {
  -moz-appearance: textfield;
}

.score-modifier {
  width: 50px;
  border-radius: 12px;
  background-color: #0f0f0f;
  padding: 5px 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px auto;
}


.login-form {
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 400px;
  margin: auto;
}

.login-form .input-group-text {
  background-color: #0efafa;
  border: none;
  color: white;
}

.login-form .form-control {
  border-left: none;
}

.login-form .form-check-input {
  margin-top: 0.3rem;
}

.login-form .btn-primary {
  background-color: #0efafa;
  border: none;
}

.login-form .btn-primary:hover {
  background-color: #0efafa;
}

.login-form a {
  color: #0efafa;
}

.login-form a:hover {
  color: #0efafa;
}

.alert-danger {
  background-color: #dc3545;
  color: white;
}

.alert-success {
  background-color: #6ddc35;
  color: white;
}

.custom-modal .modal-content {
  background-color: #1d1d1d;
  color: white;
  border-top: 4px solid #0efafa;
}

.custom-modal .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  color: white;
  position: relative;
}

.custom-modal .modal-title {
  flex-grow: 1;
  text-align: center;
  color: white;
}

.custom-modal .close-icon {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: white;
}

.custom-modal .close-icon:hover {
  cursor: pointer;
}

.custom-modal .modal-body {
  color: white;
}





.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.loading-popup,
.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-popup-content,
.confirmation-popup-content {
  border-top: 4px solid #0efafa;
  background: #1d1d1d;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #0efafa;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 204, 255, 0.3);
  border-top: 5px solid #0efafa;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px;
}

.loading-message {
  font-size: 18px;
  color: #0efafa;
}


.dropdown-list {
  max-height: 150px;
  /* Set a fixed height for the dropdown */
  overflow-y: auto;
  /* Enable vertical scrolling */
  border-radius: 5px;
  background-color: #fff;
}

.dropdown-list::-webkit-scrollbar {
  width: 8px;
  /* Customize the scrollbar width */
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: #0efafa;
  /* Set the scrollbar color */
  border-radius: 10px;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}


.btn-outline-secondary.ml-2 {
  background-color: transparent;
  /* Set the dropdown button color */
  color: #0efafa;
  border: 1px solid #0efafa;
  display: inline-block;
}

.btn-outline-secondary.ml-2:hover {
  background-color: #0efafa;
  /* Darker green on hover */
}

.dropdown-menu {
  width: calc(100% - 40px);
  /* Adjust dropdown width to match the input field */
}



.char-list-item {
  width: 250px;
  height: 250px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  background-color: #1d1d1d;
  /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.char-list-image {
  width: 250px;
  height: 250px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}

.char-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;

}

.char-class-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: relative;
  top: -20px;

}

.char-name-box {
  width: 80%;
  /* Full width */
  background-color: #0f0f0f;
  /* Black background */
  border-radius: 8px;
  /* Rounded corners */
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
  z-index: 1;
  /* Ensure the name box stays on top */
  position: absolute;
  /* To ensure the z-index works */
}

.char-name {
  font-size: 1.2em;
  color: #0efafa;
  /* White text color */
}

.char-list-item-camp {
  width: 150px;
  height: 150px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  background-color: #1d1d1d;
  /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.char-list-image {
  width: 250px;
  height: 250px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}

.char-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;

}

.char-class-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: relative;
  top: -20px;

}

.char-name-box {
  width: 80%;
  /* Full width */
  background-color: #0f0f0f;
  /* Black background */
  border-radius: 8px;
  /* Rounded corners */
  padding: 5px;
  text-align: center;
  margin-bottom: 30px;
  z-index: 1;
  /* Ensure the name box stays on top */
  position: absolute;
  /* To ensure the z-index works */
}

.char-name {
  font-size: 1.2em;
  color: #0efafa;
  /* White text color */
}


.char-list-item-null {
  width: 250px;
  height: 250px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  background-color: #0f0f0f;
  /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.char-list-frame-null {
  width: 200px;
  height: 250px;
  border-radius: 15px;
  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}

.char-list-frame-null2 {
  width: 240px;
  height: 250px;
  border-radius: 15px;
  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  transform: translate(0, -25%);
}

.char-list-image-null {
  width: 250px;
  height: 250px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}

.char-item-content-null {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  position: relative;

}

.char-class-image-null {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: relative;
  top: -20px;
}

.char-name-box-null {
  width: 200px;
  /* Full width */
  background-color: #0f0f0f;
  /* Black background */
  border-radius: 8px;
  /* Rounded corners */
  padding: 5px;
  text-align: center;
  z-index: 1;
  /* Ensure the name box stays on top */
  position: absolute;
  /* To ensure the z-index works */
  transform: translate(0, 400%);
}

.char-name-null {
  font-size: 1.2em;
  color: #0efafa;
  /* White text color */
}

#createCharButton {
  position: relative;
  top: -33px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
}



.camp-name-box-null {
  width: 200px;
  background-color: rgba(15, 15, 15, 0.5);

  border-radius: 8px;
  padding: 5px;
  text-align: center;
  z-index: 1;
  position: absolute;
  transform: translate(0, -50%);
  filter: drop-shadow(1 1 0 black)
}

.camp-details {
  width: 200px;
  border-radius: 8px;
  padding: 5px;
  text-align: left;
  z-index: 1;
  position: absolute;

  top: 10%;
  border-radius: 8px;
  background: rgba(15, 15, 15, 0.5);
  font-size: 20px;

}

.camp-btn {
  background: rgba(15, 15, 15, 0.5);
  position: relative;
  top: -33px;
}

.camp-name-null {
  font-size: 1.2em;
  color: #0efafa;
}


.camp-list-item {
  width: 250px;
  height: 250px;
  border: 1px solid #0efafa;
  /* Border */
  border-radius: 15px;
  /* Rounded corners */
  background-color: #0f0f0f;
  /* Background color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

}